/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 175px;
  height: 250px;
}

button {
  background: #fff;
  border: 0px;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.main-switch {
  cursor: pointer;
}

.ikonate {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: miter;
  fill: none;
}

.ikonate-power {
  width: 96px;
  height: 96px;
  stroke-width: 4;
  stroke: #dedede;
}

.enable .ikonate-power {
  stroke: #6ddeb4;
}

.mode-content {
  display: flex;
  flex-direction: row;
}

.mode-content button {
  cursor: pointer;
  margin: 10px;
}

.subtitle {
  font-weight: bold;
}

.ikonate-button {
  width: 48px;
  height: 48px;
  stroke: #dedede;
  stroke-width: 1.5;
}

.enable .ikonate-button {
  stroke: #3987ff;
}

.divider {
  margin: 20px auto 15px;
  width: 100px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}
